<footer>
    <div class="f-info container">
        <div class="row w-100">
            <div class="col-12 col-md-4 f-info-brand text-center text-md-start mb-2 mb-md-0">&copy; WanderLust Private Limited</div>
            <div class="col-12 col-md-4 f-info-socials text-center mb-2 mb-md-0">
                <i class="fa-brands fa-square-facebook me-2"></i>
                <i class="fa-brands fa-square-instagram me-2"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
            <div class="col-12 col-md-4 f-info-links text-center text-md-end">
                <a href="/privacy">Privacy</a>
                <span class="mx-2">|</span>
                <a href="/terms">Terms</a>
            </div>
        </div>
    </div>
</footer>
