body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
}
/* Navbar */
.navbar {
    height: 5rem;
    background-color: white;
}
.fa-campass {
    color: #fe424d;
    font-size: 2rem;
}
.nav-link {
    color: #222222 !important;
}
/* Cards */
.listing-link{
    text-decoration: none;
}
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top {
    border-radius: 1rem;
    width: 100% !important;
    object-fit: cover !important;
}
.card-img-overlay {
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.card-body {
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}
/* Footer */
.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.f-info-links, .f-info-brand, .f-info-socials {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-links a {
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover {
    text-decoration: underline;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

/* New Page */
.add-btn{
    background-color: #fe424d ;
    border: none;
}
/* Edit Page */
.edit-btn{
    background-color: #fe424d ;
    border: none;
}
/* Show Page */
.show-img {
    height:30vh;
}

.show-card {

}

.show-btns {
    display: flex;
}

#map {
    height: 400px;
    width: 100%;
    border-radius: 10px;
}
